/* buttons grid */

/* stylelint-disable */
*, *::before, *::after {
  box-sizing: border-box;
}

.background-main {
  display: flex;
  justify-content: center;
  align-items: center;
}


.box {
  display: flex;
  justify-content: center;
  max-width: 760px;
  margin-bottom: 190px;
  
}

.box-bigger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 90px;
}

.new-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ff7675;
  width: 600px;
  height: 120px;
  border-radius: 5px;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.new-box h1 {
  font-size: 25px;
  margin-bottom: 0;
}

.new-box h2 {
  margin-top: 0;
  font-size: small;
}

.imagebox {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 100px 0 0 0;
  padding: 0;
}

.imagebox a {
  position: absolute;
  color: white;
  left: 65px;
  top: 50px;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 1s;
}


.imagebox img {
  width: 310px;
  height: 140px;
  object-fit: cover;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 0;
}

.sentence {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: white;
  transition: all 5s;
}

.imagebox:hover {
  .sentence {
    display: block;
    top: 60px;
  }
}

.imagebox:hover {
  a {
    position: absolute;
    top: 35px;
  }
}

/* slideshow */

.slideshow-container {
  max-width: 760px;
  position: relative;
  margin-top: 480px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slidebox {
  display: flex;
  justify-content: center;
  margin-left: 14px;
  width: 600px;
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 270px;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.photo {
  position: absolute;
  width: 450px;
  height: 235px;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
  border-radius: 5px;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* stylelint-enable */

/* gallery */

.pizzaphotos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 760px;
  margin-top: 150px;
  margin-left: 10px;
}

.photo-inner {
  margin: 0 2px 0 2px;
}

.photo-inner img {
  height: 225px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: -5px;
}

.photo-inner:hover img {
  background-color: grey;
  height: 225px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: -5px;
  opacity: 0.5;
  transition: all 1s;
}

.final-box {
  display: flex;
  justify-content: center;
  max-width: 760px;
}

.final-sentence {
  display: flex;
  margin-right: 445px;
  color: #ff7675;
  margin-left: 0;
}

.icons {
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 225px;
  width: 200px;
  top: 1300px;
}

.photo-inner:hover {
  .icons {
    visibility: visible;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 225px;
    width: 200px;
    top: 1300px;
    transition: all 1s;
  }
}

.icons .fas {
  font-size: 30px;
  padding: 10px;
}

.fa-heart {
  color: #ff7675;
}

.fa-share-alt {
  color: black;
}